@charset "utf-8";
/* CSS Document */
body{
	padding:0px;
	margin:0px;
	border:0px;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	color:#333
}
a:link, a:visited{
	color:#03F;
	text-decoration:none;
}
a:hover{
	color:#F30;
	text-decoration:none
}
input.text{ font-size:12px; height:16px; border-left: 1px solid #666666; border-top: 1px solid #666666; border-bottom:1px solid #CCCCCC; border-right: 1px solid #CCCCCC; background:#F9F9F9; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#333333}
input.text:hover{ border:1px solid #0099CC; background:#F5F9FD;}

.wrap{
	
}
.head{
	width:100%;
	height:50px;
	background:#464646;
	margin:0px;
	border:0px;
	border-bottom:1px solid #393939;
}
.content{ margin:10px 40px 10px 40px}
.content #tool{
	width:150px;
	float:left;
	 text-align:right
}
.content #tool a:link, .content #tool a:visited{ text-align:right}
.content #main{
	padding:6px 10px 6px 10px;
}
.clear{ clear:both}

.content #tool .info{ padding:6px 10px 6px 10px; line-height:18px; text-align:right}
.content #tool .bar{ margin-top:10px; text-align:right}
.content #tool .bar .title{ height:16px; line-height:16px;  padding:6px 10px 6px 10px; border-bottom:1px solid #eee}
.content #tool .bar .ccontent{ text-align:left; width:100%; padding:6px 10px 6px 10px;}
.content #tool .bar .ccontent .item{line-height:20px; text-align:right;padding:6px 10px 6px 10px;}
#main .left{ margin-right:270px;}
#main .right{ float:right; width : 250px;}
.side{ border:1px solid #ccc; padding:10px; margin-bottom:10px}
.side .title{ border-bottom:1px solid #eee; line-height:20px}
.side .body div{ margin-top:15px;}
.side .body .jbar{ margin-top:2px; line-height:10px;}
.article{ margin-top:20px}
.article .title{}
.article .title input{ width:99%; line-height:28px; height:30px; font-size:18px; padding-left:2px}

.other{}
.other .item .title{ line-height:30px; border-bottom:1px solid #eee}
.other .item .body{ line-height:22px; margin-top:10px}
.other .item .body div{ line-height:22px;}
.tip{ margin-left:10px; color:#999}
#PostWhere{ font-size:11px; color:#ccc}