@charset "utf-8";
/* CSS Document */
#blogSlide{border-bottom:1px solid #7bbcf6; margin:0px; padding:0px 10px; height:30px; list-style:none;}
#blogSlide li{height:30px;line-height:30px;width:92px;margin-right:3px;background:url(../../images/Control/selectdiv.gif) no-repeat;text-align:center;float:left;cursor:pointer;}
#blogSlide li.current{ border-bottom:1px solid #fff}

#blogSlideContent{ list-style:none; margin:0; padding:0;}
#blogSlideContent li{ padding:15px 10px 0px 10px;}
.conArticle{}
.aTitle{ margin-bottom:10px;}
.aCate{ line-height:22px;}
.aCate .cateList{ height:130; overflow:auto;}
.aContent{}
.lineheight22{ line-height:22px;}
.lineheight30{ line-height:30px;}
.blogSlideBottom{ padding:0 20px 10px 20px;}
.cateItem{ width:33%; overflow:hidden; float:left;}


/* -----------  后台分类  ----------- */
#cateAdd{
}

#cateAdd div{
	line-height:26px;
}

#cateAdd .title{
	border-bottom:1px solid #efefef;
	height:26px;
}

#cateAdd .title .left{
	float:left;
}

#cateAdd .title .right{
	float:right;
	cursor:pointer;
}

#cateAdd .mainBody{
	padding:10px 10px;
}

#cateAdd .mainBody .submit{
	margin-top:11px;
}

#cateAdd .mainBody select{
	font-size:10px;
	color:#424242;
}

#postNewCate{
	margin:0;
}
#newcatepostinfo{
	margin-left:10px;
	color:#0F5FBB;
	font-style:oblique;
	font-size:11px;
}

.lowBox{
	z-index:99;
	position:relative;
	border:1px solid #7BBCF6;
	background:#fff;
	border-bottom:1px solid #fff;
	padding:5px 5px 0px 5px;
}
.hideData{
	display:none;
}