body{
	padding:0;
	margin:0;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#424242;
}

a:link, a:visited{
	color:#3498F1;
	text-decoration:none;
}

a:hover{
	color:#ff6000;
	text-decoration:underline;
}

input.text{ 
	font-size:12px;
	height:16px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border:1px solid #d7d7d7;
	color:#424242;
	font-size:11px;
	font-style:oblique;
}

input.text:hover{
	border:1px solid #a6d2f9; 
}

textarea.text{ 
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border:1px solid #d7d7d7;
	color:#424242;
	font-size:11px;
	font-style:oblique;
}

textarea.text:hover{
	border:1px solid #a6d2f9; 
}

input.button{ 
	border-top:1px solid #4e9fea;
	border-left:1px solid #4e9fea;
	border-right:1px solid #067be7;
	border-bottom:1px solid #067be7;
	background:#3694ea;
	color:#ffffff;
	font-weight:700;
	padding:0px 7px;
	font-size:11px;
	line-height:18px;
	height:20px;
}
input.button:hover{
	cursor:pointer;
}

.clear{ clear:both;}

.wrap{
	width:970px;
	margin:0 auto;
}
/* ---------------------- 顶部 -------------------------- */
.ConMenu{
	width:970px;
	height:47px;
	background:url(../images/Control/conMenu.jpg) no-repeat;
	margin-top:3px;
}

.ConMenu .nav{
	width:493px;
	height:47px;
	line-height:47px;
	float:left;
	margin-left:200px;
	color:#FFFFFF;
	font-weight:700;
}

.ConMenu .nav ul{
	list-style:none;
	padding:0;
	margin:0;
}

.ConMenu .nav ul li{
	float:left;
	margin-right:10px;
}

.ConMenu .nav ul li a:link, .ConMenu .nav ul li a:visited{
	color:#FFFFFF;
	text-decoration:none;
}

.ConMenu .nav ul li a:hover{
	text-decoration:underline;
}

.ConMenu .action{
	float:right;
	height:34px;
	width:221px;
	margin-right:20px;
	margin-top:6px;
}

.ConMenu .action .f{
	float:left;
}

.ConMenu .action .l{
	width:44px;
	height:47px;
}

.ConMenu .action .l .photo-s{
}

.ConMenu .action .r{
	color:#FFFFFF;
	line-height:18px;
}

.ConMenu .action .r span.mail{
	font-style:oblique;
	font-weight: bold;
	font-size:10px;
}

.ConMenu .action .r span.active{
	margin-right:5px;
}

.ConMenu .action .r span.active a:link, .ConMenu .action .r span.active a:visited{
	color:#FFFFFF;
	text-decoration:none;
}

.ConMenu .action .r span.active a:hover{
	text-decoration:underline;
}

/* ---------------------- 内容 -------------------------- */
.main{
	margin-top:20px;
	text-align:left;
}

.main .menu{
	float:left;
	width:164px!important;
	overflow:hidden;
}

.main .menu .menu_top{
	background:url(../images/Control/menu_top.gif) no-repeat;
	width:164px;
	height:6px;
}

.main .menu .menu_mid{
	background:url(../images/Control/menu_mid.gif) repeat-y;
	width:164px;
}

.main .menu .menu_bom{
	background:url(../images/Control/menu_bom.gif) no-repeat;
	width:164px;
	height:6px;
}

.main .content{
	float:right;
	width:770px;
}

/* ---------- 头像 -----------*/
.photo-s{
	background: url(../images/Control/photo-s.png) no-repeat 3px 3px;;
	width:40px;
	height:37px;
}
.photo-s img{
	padding:6px 0px 10px 6px;
	width:26px;
	height:26px;
}

.photo-l{
	width:130px;
	height:130px;
	background:url(../../images/Control/photo-l.png) no-repeat 0px 0px;
}

.photo-l img{
	padding:8px 0px 6px 9px;
	width:97px;
	height:97px;
}

/* ---------- menuList Css -----------*/
.menuList{
	padding:10px 10px 10px 15px;
}

.menuList ul{
	list-style:none;
	margin:0px;
	padding:0px;
}

.menuList ul li{
	height:28px;
	line-height:28px;
}

.menuList ul li .icon{
	width:29px;
	height:28px;
	float:left
}
.menuList ul li .icon img{
	width:29px;
	height:28px;
}

.menuList ul li .title{
	float:left;
	margin-left:15px;
	line-height:28px;
	width:50px;
	font-size:12px;
}

.menuList ul li .do{
	float:left;
	margin-left:15px;
	width:30px;
	line-height:28px;
	font-size:11px;
	color:#ccc;
}

.menuList ul li .do a:link, .menuList ul li .do a:visited{
	color:#ccc;
	text-decoration:none;
}

.menuList ul li .do a:hover{
	text-decoration:underline;
}


.ovlay-content{
	width:164px;
	height:45px;
	position:relative;
	top:11px;
	left:4px;
	line-height:22px;
}

.ovlay-content .con{
	padding:0px 10px 0px 10px;
	color:#000;
	font-size:11px;
}


.select{
	width:485px;
	overflow:hidden;
	margin-top:15px;
}

.select .tits{
	border-bottom:1px solid #7bbcf6;
	height:30px;
}

.select .tits ul.slide{
	list-style:none;
	margin:0;
	padding:0;
	padding-left:15px;
}

.select .tits ul.slide li{
	height:30px;
	line-height:30px;
	width:92px;
	margin-right:3px;
	background:url(../../images/Control/selectdiv.gif) no-repeat;
	text-align:center;
	float:left;
	cursor:pointer;
}

.select .Zcontent{
	width:485px;
	margin-top:15px;
}

.select .Zcontent ul{
	margin:0;
	padding:0;
	list-style:none;
}

.select .Zcontent ul li{
	color:#6f6e6e;
}

.actived{
	border-bottom:1px solid #fff;
}

.normal{
	border-bottom:1px solid #7bbcf6;
}
.slideTop a:link, .slideTop a:visited{
	color:#1d6bb2;
}
.slideTop a:hover{
	color:#ff6000;
}

.slideContent{
	width:485px;
	overflow:hidden;
}

.slideContent .slideItem{
	border-bottom:1px solid #ddd;
	padding:10px;
}

.slideContent .slideItem .slideItem_left{
	width:40px;
	float:left;
}

.slideContent .slideItem .slideItem_right{
	float:right;
	width:400px;
}

.slideContent .slideItem .slideItem_right .h6{
	line-height:20px;
	font-size:11px;
	font-style:normal;
	font-weight:700
}

.slideContent .slideItem .slideItem_right .h5{
	margin:4px 0px 4px 0px;
	text-indent:2em;
	line-height:22px;
}

.slideContent .slideItem .slideItem_right .h4{
	height:20px!important;
	line-height:20px;
}


.yellowbox{
	border:1px solid #f5e378;
	padding:15px;
	background:#faf4d1;
}

.yellowbox .rtxt{
	background:url(../images/Control/web-tip.gif) no-repeat 0px 4px;
	padding-left:20px;
	color:#676767!important;
	font-size:11px;
	line-height:22px
}

.add{
	background:url(../images/add.gif) no-repeat 0px 12px;
	padding-left:17px;
}

.add:hover{
	cursor:pointer;
	background:url(../images/addhover.gif) no-repeat 0px 12px;
	padding-left:17px;
}

.processbar{
	width:200px;
	text-align:left;
	background:#efefef;
}

.processbar .process{
	width:0px;
	height:8px;
}

.s1{
	background:#FE711D;
}
.s2{
	background:#72c854;
}
.s3{
	background:#6c82b4;
}
.s4{
	background:#d345b3;
}