 body{
	font-size:12px;
    margin:0px;
	padding:0px;
	text-align:center;
	background:#785C36;
	color:#574D31;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
 p{margin:3px;}
 img {max-width: 100%;height: auto;}
 select{font-family: Verdana, Arial}
 th{background:#D5CBBE;border-bottom:1px solid #795B50}