@charset "utf-8";
/* CSS Document */

.blog-wrap{
	border:5px solid #add5fa;
	background:#fff;
}

.blog-line{
	border:1px solid #83C3FB;
	padding:10px 20px;
}

.blog-top{
	height:32px;
	overflow:hidden;
}

.box-title{
	float:left;
	line-height:32px;
	color:#51ABF9;
	font-weight:700;
	cursor:move;
}

.box-go{
	background: url(../images/go_l.gif) no-repeat;
	width:23px;
	height:20px;
	float:right;
	cursor:pointer;
	margin-right:3px;
}
.box-go:hover{
	background: url(../images/go_h.gif) no-repeat;
	width:23px;
	height:20px;
	float:right;
	cursor:pointer;
}

.box-tip{
	background: url(../images/T-l.gif) no-repeat;
	width:23px;
	height:20px;
	float:right;
	cursor:pointer;
	margin-right:3px;
}
.box-tip:hover{
	background: url(../images/T-h.gif) no-repeat;
	width:23px;
	height:20px;
	float:right;
	cursor:pointer;
}

.box-close{
	width:23px;
	height:20px;
	background:url(../images/close-l.gif) no-repeat;
	float:right;
	cursor:pointer;
}
.box-close:hover{
	width:23px;
	height:20px;
	background:url(../images/close-h.gif) no-repeat;
	float:right;
	cursor:pointer;
}

.blog-body{
}

.blog-title{
	line-height:30px;
}

.blog-title input{
	font-style:oblique;
	color:#6b6b6b;
}

.input-text{
	border:1px solid #40a7f6;
}
.input-text:hover{
	border:1px solid #fb9c1e;
}

#cate-select{
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	border:1px solid #999;
	line-height:16px;
}

#cate-select li{
	float:left;
}

#cate-select li.tnt{
	margin-left:3px;
	margin-right:3px;
}

.cate-doSel{
	margin:0;
	padding:0;
	list-style:none;
}

.cate-doTop{
	background:url(../images/cateSelect-t.png) no-repeat;
	width:150px;
	height:1px;
}

.cate-doContent{
	background:url(../images/cateSelect-m.png) repeat-y;
	width:150px;
}

.cate-doContent ul{
	margin:0;
	padding:0;
	list-style:none;
	margin:0 1px 0 1px;
	background:#fff;
	width:146px;
}

.cate-doContent ul li{
	line-height:20px;
}

.cate-doContent ul li:hover{
	background:#CCC;
	cursor:pointer;
}

.cate-doContent ul li .cate-li{
	padding:3px 10px;
	line-height:20px;
}

.cate-doContent ul li .cate-li img{
	margin-right:4px;
}

.cate-doBottom{
	background:url(../images/cateSelect-f.png) no-repeat;
	width:150px;
	height:3px;
}