body{
	padding:0;
	margin:0;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#6B6B6B;
}

a:link, a:visited{
	color:#3498F1;
	text-decoration:none;
}

a:hover{
	color:#ff6000;
	text-decoration:underline;
}

input.text{ 
	font-size:12px;
	height:16px;
	border-left: 1px solid #666666; 
	border-top: 1px solid #666666; 
	border-bottom:1px solid #CCCCCC; 
	border-right: 1px solid #CCCCCC; 
	background:#F9F9F9; 
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
	color:#333333
}

input.text:hover{
	border:1px solid #0099CC; 
	background:#F5F9FD;
}

input.button{ 
	height:21px; border:1px solid #87A2D3;
	line-height:21px;
	padding:0px 10px 0px 10px;
	margin:7px 7px 0px 0px;
	font-size:10px;
	font-style:oblique;
	font-weight:700;
}
input.button:hover{ 
	border:1px solid #FDAA33;
	cursor:pointer
}

.clear{ clear:both;}

.wrap{
	width:970px;
	margin:0 auto;
}
/* ---------------------- 顶部 -------------------------- */
.ConMenu{
	width:970px;
	height:47px;
	background:url(../images/Control/conMenu.jpg) no-repeat;
	margin-top:3px;
}

.ConMenu .nav{
	width:493px;
	height:47px;
	line-height:47px;
	float:left;
	margin-left:200px;
	color:#FFFFFF;
	font-weight:700;
}

.ConMenu .nav ul{
	list-style:none;
	padding:0;
	margin:0;
}

.ConMenu .nav ul li{
	float:left;
	margin-right:10px;
}

.ConMenu .nav ul li a:link, .ConMenu .nav ul li a:visited{
	color:#FFFFFF;
	text-decoration:none;
}

.ConMenu .nav ul li a:hover{
	text-decoration:underline;
}

.ConMenu .action{
	float:right;
	height:34px;
	width:221px;
	margin-right:20px;
	margin-top:6px;
}

.ConMenu .action .f{
	float:left;
}

.ConMenu .action .l{
	width:44px;
	height:47px;
}

.ConMenu .action .l .photo-s{
}

.ConMenu .action .r{
	color:#FFFFFF;
	line-height:18px;
}

.ConMenu .action .r span.mail{
	font-style:oblique;
	font-weight: bold;
	font-size:10px;
}

.ConMenu .action .r span.active{
	margin-right:5px;
}

.ConMenu .action .r span.active a:link, .ConMenu .action .r span.active a:visited{
	color:#FFFFFF;
	text-decoration:none;
}

.ConMenu .action .r span.active a:hover{
	text-decoration:underline;
}

/* ---------------------- 内容 -------------------------- */
.main{
	margin-top:20px;
	text-align:left;
}

.main .menu{
	float:left;
	width:164px!important;
	overflow:hidden;
}

.main .menu .menu_top{
	background:url(../images/Control/menu_top.gif) no-repeat;
	width:164px;
	height:6px;
}

.main .menu .menu_mid{
	background:url(../images/Control/menu_mid.gif) repeat-y;
	width:164px;
}

.main .menu .menu_bom{
	background:url(../images/Control/menu_bom.gif) no-repeat;
	width:164px;
	height:6px;
}

.main .content{
	float:right;
	width:770px;
}

/* ---------- 头像 -----------*/
.photo-s{
	background: url(../images/Control/photo-s.png) no-repeat 3px 3px;;
	width:40px;
	height:37px;
}
.photo-s img{
	padding:6px 0px 10px 6px;
	width:26px;
	height:26px;
}

.photo-l{
	width:130px;
	height:130px;
	background:url(../../images/Control/photo-l.png) no-repeat 0px 0px;
}

.photo-l img{
	padding:8px 0px 6px 9px;
	width:97px;
	height:97px;
}

/* ---------- menuList Css -----------*/
.menuList{
	padding:10px 10px 10px 15px;
}

.menuList ul{
	list-style:none;
	margin:0px;
	padding:0px;
}

.menuList ul li{
	height:28px;
	line-height:28px;
}

.menuList ul li .icon{
	width:29px;
	height:28px;
	float:left
}
.menuList ul li .icon img{
	width:29px;
	height:28px;
}

.menuList ul li .title{
	float:left;
	margin-left:15px;
	line-height:28px;
	width:50px;
	font-size:12px;
}

.menuList ul li .do{
	float:left;
	margin-left:15px;
	width:30px;
	line-height:28px;
	font-size:11px;
	color:#ccc;
}

.menuList ul li .do a:link, .menuList ul li .do a:visited{
	color:#ccc;
	text-decoration:none;
}

.menuList ul li .do a:hover{
	text-decoration:underline;
}


.ovlay-content{
	width:164px;
	height:45px;
	position:relative;
	top:11px;
	left:4px;
	line-height:22px;
}

.ovlay-content .con{
	padding:0px 10px 0px 10px;
	color:#000;
	font-size:11px;
}